# Ignore everything
*

# Except the following files:
!*.gitignore
!*.md
!coronal_depth_matching.h5
!data_generator.py
!main.py
!utils.py
#!checkpoints/*
#!TensorBoard/*
#!brain_images/*
#!imgs/siamese.png
!Predictions.ipynb

